<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	  <p>
    Splurty was built by <a target="_blank" href="http://github.com/jeffgerlach">Jeff Gerlach</a>. Jeff is an astronautical engineer by day and is learning how to be a web developer by moonlight with the help of <a target="_blank" href="http://www.thefirehoseproject.com/">theFirehoseProject</a>!
  </p>

    <div class="col-xs-12 col-sm-4">
    <%= image_tag 'jeff.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Jeff Gerlach</h2>
    <br />
    <p>
      Jeff Gerlach is an astronautical engineer and aspiring web developer. He has most recently found himself working as a contractor, after a stint flying for the US Navy. He enjoys cats and also spends some of his free time as a fitness instructor. His web development projects made while drinking from the firehose can be found <a target="_blank" href="http://github.com/jeffgerlach">here.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />